@model List<Testimonial>
@{
    int count = 0;
}
<section class="w3l-index4 py-5" id="testimonials">
    <div class="container py-md-5 py-4">
        <div class="content-slider text-center">
            <div class="clients-slider">
                <div class="mask">
                    <ul>
                        @foreach(var item in Model)
                        {
                            count++;
                            var anim = "anim" + count;
                            <li class="@anim">
                            <img src="@item.TestimonialImage" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    @item.TestimonialDescription
                                </q>
                            </blockquote>
                            <div class="source">@item.TestimonialName</div>
                        </li>
                        }
                        

                     
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>